.home  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20;
    font-family: 'Discord';
    
}


.home header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px
  
}

.home header nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.home header nav a {
     font-family: Poppins;
     font-size: 18px
     

}

a{
    text-decoration: none;
    color:black     
    
}

